<div class="container">
  <h1 id="hero-title">Create your service <%= @service.name %></h1>
  <%#= render partial:"form", locals: { service: @service } %>
  <%= render "form", service: @service %>
</div>

