<div class="background-service-new" style="background-image: url('<%= image_path 'dccomics.jpg' %>')">
  <div class="container new-service-form">
    <h1 id="hero-title">Time to create your super service!<%= @service.name %></h1>
    <%= render "form", service: @service %>
  </div>
</div>
