.header-dashboard {
  padding-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}


.profile {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  // margin-left: 50px;
  color: white;
  p {
    margin: 0;
    font-size: 16px;
    color: black;
  }
  h2 {
    margin: 45px 0px 0px 0px;
    font-weight: lighter;
    font-size: 25px;
    color: black;
  }
}

.align-left-dashboard {
  text-align: left;
  margin-left: 77px!important;
}

.header-h2-dashboard {
  margin-bottom: 20px;
  font-weight: lighter;
  color: black;
  font-size: 25px;
}

.card-dashboard h3 {
  color: #ca0914;
}

.card-dashboard p {
  color: black;
}

.avatar-dashboard {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
  object-fit: cover;
}

.service-card-dashboard {
  width: 100%;
}

.bookings-dashboard {
  border-left: 5px dashed black;
  padding-left: 60px;
  padding-right: 100px;
}
