.header-dashboard {
  padding-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}


.profile {
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
  color: white;
  p {
    margin: 0px 0px 0px 0px;
    font-size: 16px;
    text-align: left;
    color: black;
  }
  h2 {
    margin: 25px 0px 0px 0px;
    font-weight: lighter;
    font-size: 25px;
    color: black;
  }
}

h2 {
  margin-bottom: 20px;
  font-weight: lighter;

}

.avatar-dashboard {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid black;
  margin-left: 70px;
}

.service-card-dashboard {
  width: 100%;
}