body {
  // background-image: image-url('last.jpg');
  background-attachment: fixed;
}

#card-container {
  padding-bottom: 15px;
}

#hero-title {
  margin-bottom: 15px;
  color: black;
  border-radius: 50px;
  text-align: center;
}

.card-power {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-power > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-power h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ca0914;
  padding-bottom: 5px;
}

.card-power p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-power .card-power-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-power-infos .card-power-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
