.navbar-lewagon {
  justify-content: space-between;
  background: #ca0913;
  // background-color: transparent;
  transition: 0.5s background-color ease;
}

.nav-link {
  color: white!important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.navbar-lewagon .navbar-brand h2 {
  margin: 0;
  color: white;
}
